/* ********* */
/* @VARIABLES */
/* ********* */
// colores
$colores: (
gris: #C4C4C4,
gris_oscuro: #868484,
gris_mas_oscuro: #393838,
marron: #FFB27B,
marron_oscuro: #CA895A,
marron_mas_oscuro: #A66739,
marron_mas_claro: #FFDFC7
);
